.container {
    padding: 0.4rem;
    width: 25%;
}

.item {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    border-radius: 1.2em;
    background-color: white;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    transition: transform 250ms ease-in;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.bookTitle {
    font-size: 1.3rem;
    font-weight: bold;
}

.bookCount {
    margin-top: 0.5em;
    color: darkgrey;
}

.bookFooter {
    text-align: end;
}

i {
    cursor: pointer;
}

.bookDelete {
    color: red;
}
