@value makerBlue from '../../common/colors.css';
@value mobileVersionWidth from '../../common/size.css';

.item {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    width: 24%;
    margin: 1%;
    border-radius: 1.2em;
    background-color: white;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    transition: transform 250ms ease-in;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.clickedItem {
    border: 0.3em solid makerBlue;
}

.bookTitle {
    font-size: 1.3rem;
    font-weight: bold;
}

.bookCount {
    margin-top: 0.5em;
    color: darkgrey;
}

i {
    cursor: pointer;
}

@media screen and (max-width: mobileVersionWidth) {
    .item {
        width: 100%;
        padding: 1.3rem;
        height: 6rem;
        -webkit-box-shadow: 2px 8px 14px 0px rgba(0, 0, 0, 0.45);
    }
}