@value makerBlue,makerBackground from '../../common/colors.css';


.container {
    width: 100%;
    height: 90vh;
    background-color: makerBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBook {
    width: 55%;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.titleBox {
    margin-bottom: 0.4rem;
}

.title {
    font-weight: bolder;
    font-size: 1.5rem;
    border:none;
    background-color:makerBackground;
    outline: none;
}

.titleBtn {
    cursor: pointer;
    outline: 0;
    border:none;
    background-color:makerBlue;
    color: white;
    cursor: pointer;
}

.text {
    font-size: smaller;
    margin-bottom: 1rem;
    color: gray;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.newBtn,
.oldBtn {
    margin-right: 0.4rem;
    border-radius: 2rem;
    cursor: pointer;
    outline: 0;
}

.newBtn {
    border: 2px solid makerBlue;
    color: makerBlue;
    font-weight: bold;
}

.oldBtn {
    border: 2px solid #616161;
    color: #616161;
    font-weight: bold;
}

.addCardBtn {
    background-color: makerBlue;
    width: 100%;
    height: 2.8rem;
    color: white;
    font-size: large;
    margin-top: 1.2rem;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.addCardBtn:hover {
    opacity: 0.9;
}

.cardList {
    width: 100%;
    margin-top: 1.2rem;
}