@value makerBlue from '../../common/colors.css';

.quiz {
    display: flex;
    flex-direction: column;
}
.cardFront,
.cardBack {
    cursor: pointer;
    padding: 2em;
    height: 40vh;
    width: 100%;
    border-style: none;
    border-radius: 1.2em;
    background-color: white;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
}

.cardFront {
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
}

.cardBack {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
}

.cardName {
    color: makerBlue;
    font-weight: bold;
    font-size: 1.2em;
    text-align: start;
}

.cardContent {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.6em;
    text-align: start;
}

.cardPage {
    font-size: larger;
    font-weight: bold;
    margin-top: 1.1em;
}

.cardPage button {
    background-color: transparent;
    margin: 0 1em;
}
