.container {
    flex-direction: column;
    cursor: pointer;
    height: 14em;
    width: 100%;
    margin-bottom: 0.8rem;
    border-style: none;
    border-radius: 1.2em;
    background-color: white;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
}

.card {
    padding: 2.2rem;
    margin-bottom: 3.8rem;
    text-align: center;
}

.cardName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
}

.hr {
    border: 1px solid #cccccc;
    background-color: #cccccc;
}

.cardContent {
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cardFooter {
    text-align: end;
}

.cardEdit,
.cardDelete {
    transition: transform 250ms ease-in;
    color: grey;
}

.cardEdit:hover,
.cardDelete:hover {
    transform: scale(1.02);
}

.cardEdit {
    background-color: white;
}

.cardEdit:hover {
    color: blue;
}

.cardDelete {
    background-color: white;
}

.cardDelete:hover {
    color: red;
}
