@value makerBlue from '../../common/colors.css';

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.title {
  color: makerBlue;
  font-size: 2.3em;
  cursor: pointer;
}

.login {
  position: absolute;
  right: 0;
  margin-right: 3.8em;
  font-weight: bold;
  cursor: pointer;
}
