@value makerBlue,makerBackground from '../../common/colors.css';
@value mobileVersionWidth from '../../common/size.css';

.container {
    width: 100%;
    height: 90vh;
    background-color: makerBackground;
    display: flex;
    justify-content: center;
    padding-top: 2.2rem;
}

.quizBox {
    width: 60%;
}

.quizSelect {
    width: 100%;
    margin-top: 3rem;
}

.quizSelectBox {
    margin-top: 1em;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    background-color: rgb(197, 197, 197);
    border: 0;
    outline: 0;
    padding: 0.5rem;
}

.quizStartBtn {
    padding: 0.3em;
    margin-top: 4rem;
    width: 100%;
    height: 2em;
    background-color: makerBlue;
    color: white;
    border-radius: 0.5em;
    font-size: 1.5rem;
}

@media screen and (max-width: mobileVersionWidth) {
    .container {
        padding-top: 1rem;
    }

    .quizBox {
        width: 90%;
    }

    .quizStartBtn {
        margin-bottom: 2rem;
    }

    .quizSelect {
        margin-top: 1.5rem;
    }
}