@value makerBlue,makerBackground from '../../common/colors.css';

.card {
    width: 60%;
    height: 82vh;
    position: absolute;
    border-radius: 2rem;
    top: 13%;
    left: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45)
}

.show {
    background-color: white;
    width: 50%;
    height: 100vh;
}

.hidden {
    display: none;
}

.titleBox,
.textBox {
    width: 100%;
    display: flex;
    align-items: center;
}

.titleBox {
    width: 90%;
    margin-bottom: 2rem;
    justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.closeBtn {
    outline: 0;
    border: 0;
    width: 3rem;
    height: 3rem;
    background-color: white;
    position: absolute;
    right:0;
    margin-right: 2rem;
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.closeBtn:hover {
    transform: scale(1.02);
    color: red;
}
.textBox {
    flex-direction: column;
}

.text {
    width: 90%;
    font-weight: bolder;
    display:flex;
    margin-left: 0.8rem;
    margin-bottom: 0.3rem;
}

.textarea {
    width: 90%;
    height: 10rem;
    margin-bottom: 1rem;
    border: 0;
    outline: 0;
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
}

.textarea:hover {
    border: 2px solid makerBlue;
}

.addBtn {
    width: 90%;
    background-color: makerBlue;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 0;
    height: 2.8em;
    border-radius: 0.5em;
    font-size: large;
    font-weight: bold;
    margin-top: 2rem;
}

.addBtn:hover {
    opacity: 0.9;
}